
body {
	background: url("../images/background.jpg");
	background-color: darkblue;
}

h1 {
	color: white;
}

#timerDiv {
	color: white;
	display: none;
	margin-top: 10px;
}

h2 {
	color: white;
}

img {
	width: 300px;
	height: auto;
	border: solid 3px white;
	margin-top: 20px;
}

.options {
	margin-top: 15px;
}

#questionAsked {
	color: white;
	display: none;
}

#checkAnswer {
	color: white;
	display: none;
}

#startButton {
	margin-top: 150px;
}

#startOverButton{
	margin-top: 50px;
	display: none;
}